.language {

	&__inner {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 2px;
		&--item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 25px;
			background-color: $BGC;
			border-right: 1px solid #fff;
			font-size: 15px;
			font-weight: 500;
			text-transform: uppercase;
			&:last-child {
				border: 0;
			}
		}
	}
}