.support {
	&__inner {
		.form-support {
			.form-item {
				display: flex;
				flex-direction: column;
				margin-bottom: 10px;
				label {
					color: #000;
					font-size: 16px;
					font-weight: 300;
					margin-bottom: 10px;
				}
				.input-wrap {
					display: flex;
					padding: 5px;
					border: 1px solid #000;
					i {
						color: #000;
						font-size: 15px;
						margin-right: 10px;
					}
				}
				&--input {
					width: 100%;
					border: 0;
					outline: none;
				}
				&--textarea {
					min-width: 100%;
					max-width: 100%;
					min-height: 200px;
					outline: none;
					padding: 5px;
				}
			}
		}
	}
}